<%- include("partials/headerd"); -%>

<div class="bodytext text-center">
  <p>

      TRADITIONALLY PATIENTS ARE GIVED PRESCRIPTION IN PAPERS, MAINTAING PHYSICAL FILES FOR MAINTAING RECORDS OF A PATIENTS. IT IS BIG DIFFICULT TASK TO MAINTAIN THOSE MANY RECORDS. IT IS OUR PROJECT MAKING ALL THOSE RECORDS PAPER LESS.
      E-PATIENT PRESCRIPTION IS GVING PRESCRIPTION ONLINE, RECORDING THE REASONS ONLINE IN OUR DATABASE <br><br>
      HERE WE MAINTAIN SEPARATE DOCUMENTS FOR EACH DOCTOR, OTHER DOCTOR CANNOT ACCESS HIS REOCRDS
  <img id="setascope" src="images/free.jpg" alt="">

</div>

<div id="lsbuttons" class="row justify-content-md-center">

 <div class="col-md-auto" id="LOGIN">
    <button type="submit" name="button" value="login" class="btn btn-outline-primary btn-lg login" data-toggle="modal" data-target="#login">Login</button>
  </div>
  <div class="col-md-auto" id="signup">
    <button type="submit" name="button" value="signup" class="btn btn-outline-success btn-lg signup" data-toggle="modal" data-target="#SUP">sign up</button>
  </div>
</div>




<!-- SIGN UP MODAL -->
<!-- APPEARS ONLY WHEN USER CLICK SIGN UP BUTTON -->

<div class="modal fade" id="SUP">
    <div class="modal-dialog">
      <div class="modal-content">
<!-- Modal Header -->
        <div class="modal-header text-center">
             <h4 class="modal-title w-100 font-weight-bold "> SIGN UP </h4>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       </div>
<!-- Modal body -->
        <div class="modal-body">
          <form action="/" method="post">
             <div class="form-group">
               <input type="text" class="form-control" placeholder="Your Name" required="required" name="name">
             </div>
             <div class="form-group">
               <input type="email" class="form-control" placeholder="Email" name="email" required="required">
             </div>
             <div class="form-group">
               <input type="text" class="form-control" placeholder="PHONE NUMBER" name="phone" required="required">
             </div>
             <div class="form-group">
               <div class="input-group ">
                   <input type="text" class="form-control" name="userId" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                   <div class="input-group-append"> <span class="input-group-text" id="basic-addon2">@ehr.com</span> </div>
               </div>
             </div>
             <div class="form-group">
               <input type="password" class="form-control" placeholder="Password" required="required" name="password">
             </div>
             <div class="form-group">
               <input type="password" class="form-control" placeholder="Renter Password" required="required" name="cpassword">
             </div>

             <div class="form-group">
                <label> <input type="radio" name="optradio" checked>Male </label>&nbsp;&nbsp;
                <label> <input type="radio" name="optradio" > Female </label>&nbsp;&nbsp;
                <label> <input type="radio" name="optradio" > Other </label>
            </div>

             <div class="form-group">
                  <button type="submit" name="button" value="signup" class="btn btn-block btn-outline-primary">Register</button>
             </div>
           <div class="clearfix">
             <a href="#" class="pull-right">need help?</a>
           </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--  LOGIN MODAL -->
<!-- APPEARS ONLY WHEN USER CLICK LOGIN BUTTON -->

<div class="modal fade" id="login">
  <div class="modal-dialog">
    <div class="modal-content">
<!-- Modal Header -->
        <div class="modal-header text-center">
             <h4 class="modal-title w-100 font-weight-bold"> LOGIN </h4>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
       </div>
<!-- Modal body -->
      <div class="modal-body">
          <form action="/" method="post">
             <div class="form-group">
               <input type="text" class="form-control" placeholder="Username" name="username" required="required">
             </div>
             <div class="form-group">
               <input type="password" class="form-control" placeholder="Password" name="password" required="required">
             </div>
             <div class="form-group">
                <button type="submit" name="button" value="login" class="btn btn-block btn-outline-primary">LOGIN</button>
             </div>
           <div class="clearfix">
             <a href="#" class="pull-right">Forgot Password?</a>
           </div>
        </form>
      </div>

    </div>
  </div>
</div>


<%- include("partials/footer"); -%>
