<%- include("partials/header"); -%>
    <form class="" action="/dashboard/updatePatients/<%=usrid %>" method="post">
      <label for="PhoneNum">Contact Number(mandatory):</label>
      <input  class="form-control" type="text" name="pnoneNum" size="100" value="">
      <label for="email">Appointment's Reason:</label>
      <textarea class="form-control" name="reason" rows="4"> </textarea>
      <label for="Message">Prescription:</label>
      <textarea class="form-control" name="prescription" rows="12 "></textarea><br>
      <div  class="text-right">
      <button type="submit" name="button" class="btn btn-primary" >Update Patients</button>
      </div>
    </form>
<%- include("partials/footer"); -%>
